@import "variables";
@import "mixins";
@import "_components/search-form";
@import "_components/nav-bar";
@import "_components/footer";

body {
  margin: 0;
  background-color: #fff;
}

p,
h1,
h2,
h3 {
  color: #07080a;
}
.sidebar {
  background: $color_primaire_fonce;
  padding: 1rem;
}
